<div class="border-t border-antiflash bg-ghost dark:border-gun dark:bg-cinder">
  <div class="mx-auto max-w-7xl">
    <div class="grid grid-cols-2 mx-auto max-w-none">
      <div class="px-4 py-8 bg-ghost dark:bg-cinder dark:border-tuna sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 lg:grid-cols-3">
          <ul role="list" class="mt-4 space-y-4 lg:mt-0">
            <li>
              <a href="./index.html" class="text-xs font-light lg:text-base text-comet dark:text-santa sm:text-xl hover:text-oyster dark:hover:text-periblue">
                Home
              </a>
            </li>
            <li>
              <a
                href="./features.html"
                class="text-xs font-light lg:text-base text-comet dark:text-santa sm:text-xl hover:text-oyster dark:hover:text-periblue"
              >
                Features
              </a>
            </li>
            <li>
              <a href="./about.html" class="text-xs font-light lg:text-base text-comet dark:text-santa sm:text-xl hover:text-oyster dark:hover:text-periblue">
                About
              </a>
            </li>
          </ul>
          <ul role="list" class="mt-4 space-y-4 lg:mt-0">
            <li>
              <a href="./index.html" class="text-xs font-light lg:text-base text-comet dark:text-santa sm:text-xl hover:text-oyster dark:hover:text-periblue">
                Home
              </a>
            </li>
            <li>
              <a
                href="./features.html"
                class="text-xs font-light lg:text-base text-comet dark:text-santa sm:text-xl hover:text-oyster dark:hover:text-periblue"
              >
                Features
              </a>
            </li>
            <li>
              <a href="./about.html" class="text-xs font-light lg:text-base text-comet dark:text-santa sm:text-xl hover:text-oyster dark:hover:text-periblue">
                About
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="px-4 py-8 md:mt-0 bg-ghost dark:bg-cinder dark:border-tuna sm:px-6 lg:px-8" id="contact">
        <div class="mt-8 md:mt-0 md:order-1 lg:pr-12">
          <p class="text-xs font-light lg:text-base text-comet dark:text-santa sm:text-xl">Have questions? Email us at email@example.com</p>
          <p class="text-xs font-light lg:text-base text-comet dark:text-santa sm:text-xl">
            Dockerz ©

            <span x-text="new Date().getFullYear()"></span>
            <a href="https://apesoflondon.design/" class="text-oyster hover:text-white">Apes of London</a>
            All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="border-t border-antiflash bg-ghost dark:bg-cinder dark:border-gun" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="px-4 py-12 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="justify-center text-center lg:text-left lg:justify-start">
      <div class="space-y-8 text-comet dark:text-santa">
        <div>
          <span class="text-lg font-bold lg:text-2xl"
            ><span class="inline-flex items-center font-bold tracking-tighter">
              <svg class="w-8 h-8" viewBox="0 0 147 148" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 55.2 (78181) - https://sketchapp.com -->
                <title>Group</title>
                <desc>Created with Sketch.</desc>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Group">
                    <path
                      d="M73,74 L147,74 L147,148 L93,148 C81.954305,148 73,139.045695 73,128 L73,74 Z"
                      fill="#d5ddfe"
                      transform="translate(110.000000, 111.000000) rotate(-90.000000) translate(-110.000000, -111.000000) "
                    />

                    <path
                      d="M0,0 L74,0 L74,74 L20,74 C8.954305,74 1.3527075e-15,65.045695 0,54 L0,0 Z"
                      fill="#445cff"
                      transform="translate(37.000000, 37.000000) scale(-1, -1) rotate(-90.000000) translate(-37.000000, -37.000000) "
                    />
                  </g>
                </g>
              </svg>

              <span class="ml-4 lg:text-2xl">Dockerz</span>
            </span></span
          >
          <p class="mx-auto ml-12 text-sm lg:w-1/2 text-club">Wicked templates for wicked dev's</p>
        </div>
      </div>
    </div>
  </div>
</footer>
