<main class="flex-auto" id="colors">
  <div class="max-w-7xl mx-auto">
    <div class="dark:border-gun pb-6 border-b">
      <h3 class="text-comet text-3xl font-normal leading-6">Colors</h3>
    </div>
    <div class="flex-grow mt-4">
      <div class="lg:grid lg:grid-cols-7 flex flex-col gap-2">
        <div class="text-center">
          <div class="bg-periblue p-6 rounded-md"></div>
        </div>
        <div class="text-center">
          <div class="bg-ultramarine p-6 rounded-md"></div>
        </div>
        <div class="text-center">
          <div class="p-6 bg-white rounded-md"></div>
        </div>
        <div class="text-center">
          <div class="bg-manatee p-6 rounded-md"></div>
        </div>

        <div class="text-center">
          <div class="bg-comet p-6 rounded-md"></div>
        </div>
        <div class="text-center">
          <div class="bg-pearl p-6 rounded-md"></div>
        </div>
      </div>
    </div>
  </div>
</main>
