<main class="flex-auto space-y-10" id="info">
  <div class="max-w-7xl mx-auto">
    <div class="dark:border-gun pb-6 border-b">
      <h3 class="text-comet text-3xl font-normal leading-6">Icons</h3>
    </div>
    <div class="flex-grow mt-4">
      <div>
        <p class="text-comet dark:text-manatee text-lg font-light leading-relaxed">
          Harmony uses SVG icons From
          <a href="https://tablericons.com/" class="text-oyster hover:text-pearl underline">Tablericons</a>
          or HTML Unicode.
        </p>
      </div>
    </div>
  </div>
  <div class="max-w-7xl mx-auto">
    <div class="dark:border-gun pb-6 border-b">
      <h3 class="text-comet text-3xl font-normal leading-6">Images</h3>
    </div>
    <div class="flex-grow mt-4">
      <div>
        <p class="text-comet dark:text-manatee text-lg font-light leading-relaxed">
          Shadow uses images From Unsplash

          <a href="https://tablericons.com/" class="text-oyster hover:text-pearl underline">Unsplash</a>
        </p>
      </div>
    </div>
  </div>
</main>
