<main class="flex-auto">
  <div class="max-w-7xl mx-auto" id="typography">
    <div class="dark:border-gun pb-6 border-b">
      <h3 class="text-comet dark:text-manatee text-3xl font-normal leading-6">Text</h3>
    </div>
    <div class="flex-grow mt-4">
      <div class="flex flex-col gap-2 space-y-6">
        <div>
          <h1 class="text-comet dark:text-manatee lg:text-6xl text-4xl font-light leading-none">Display</h1>
        </div>
        <div>
          <h1 class="text-comet dark:text-manatee text-4xl font-light">Heading One</h1>
        </div>
        <div>
          <h2 class="text-comet dark:text-manatee text-3xl font-light leading-6">Heading Two</h2>
        </div>
        <div>
          <h3 class="text-comet dark:text-manatee text-2xl font-light">
            Heading Three
            <p></p>
          </h3>
        </div>
        <div>
          <h4 class="text-comet dark:text-manatee text-xl font-light">Heading Four</h4>
        </div>
        <div>
          <h4 class="text-comet dark:text-manatee text-lg font-light">Heading Five</h4>
        </div>
        <div>
          <h4 class="text-comet dark:text-manatee text-base font-light">Heading Six</h4>
        </div>
        <div>
          <p class="text-santa text-xl font-light">Body text</p>
        </div>
        <div>
          <span class="text-santa text-sm">Captions</span>
        </div>
      </div>
    </div>
  </div>
</main>
