<main class="flex-auto" id="badges">
  <div class="max-w-7xl mx-auto">
    <div class="dark:border-gun pb-6 border-b">
      <h3 class="text-comet text-2xl font-normal leading-6">Badges</h3>
    </div>
    <div class="flex-grow mt-6">
      <div class="flex flex-wrap items-center gap-6">
        <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-oyster border border-oyster text-white"> Primary </span>
        <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-white border-smoke border dark:border-white text-oyster">
          Secondary
        </span>
        <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-pearl border border-pearl text-white"> Tertiary </span>
        <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-white border-smoke border dark:border-white text-jade">
          Badge
        </span>
        <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-white border-smoke border dark:border-white text-pumpikin">
          Badge
        </span>

        <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-white border-smoke border dark:border-white text-brink">
          Badge
        </span>
      </div>
    </div>
  </div>
</main>
