<main class="flex-auto" id="inputs">
  <div class="max-w-7xl mx-auto">
    <div class="dark:border-gun pb-6 border-b">
      <h3 class="text-comet text-2xl font-normal leading-6">Inputs</h3>
    </div>
    <div class="flex-grow mt-6">
      <div class="flex flex-wrap gap-2">
        <div>
          <div class="dark:border-white focus-within:ring-1 focus-within:ring-oyster focus-within:border-oyster relative px-3 py-2 border-2 rounded-lg">
            <label for="name" class="text-club -top-2 left-2 dark:bg-tuna dark:text-white absolute inline-block px-1 -mt-px text-xs font-medium bg-white"
              >Regular</label
            >
            <input
              type="email"
              name="emal"
              id="name"
              class="placeholder-cat focus:ring-0 sm:text-sm block w-full py-1 text-white bg-transparent border-0"
              placeholder="regular"
            />
          </div>
        </div>

        <div>
          <div class="border-jade focus-within:ring-1 focus-within:ring-shamrock focus-within:border-shamrock relative px-3 py-2 border-2 rounded-lg">
            <label for="name" class="text-jade -top-2 left-2 dark:bg-tuna dark:text-white absolute inline-block px-1 -mt-px text-xs font-medium bg-white"
              >Success</label
            >
            <input
              type="email"
              name="emal"
              id="name"
              class="placeholder-cat focus:ring-0 sm:text-sm block w-full py-1 text-white bg-transparent border-0"
              placeholder="success"
            />
            <div class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
              <svg xmlns="http://www.w3.org/2000/svg" class="text-shamrock w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
            </div>
          </div>
        </div>
        <div>
          <div class="border-carnation focus-within:ring-1 focus-within:ring-coral focus-within:border-coral relative px-3 py-2 border-2 rounded-lg">
            <label for="name" class="text-coral -top-2 left-2 dark:bg-tuna dark:text-white absolute inline-block px-1 -mt-px text-xs font-medium bg-white"
              >Danger</label
            >
            <input
              type="email"
              name="emal"
              id="name"
              class="placeholder-cat focus:ring-0 sm:text-sm block w-full py-1 text-white bg-transparent border-0"
              placeholder="default"
            />
            <div class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
              <svg class="text-carnation w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<main class="flex-auto">
  <div class="max-w-7xl mx-auto">
    <div class="dark:border-gun pb-6 border-b">
      <h3 class="text-comet text-2xl font-normal leading-6">Text Area</h3>
    </div>
    <div class="flex-grow mt-6">
      <div class="flex flex-wrap gap-2">
        <div>
          <div class="dark:border-white focus-within:ring-1 focus-within:ring-oyster focus-within:border-oyster relative px-3 py-2 border-2 rounded-lg">
            <label for="name" class="text-club -top-2 left-2 dark:bg-tuna dark:text-white absolute inline-block px-1 -mt-px text-xs font-medium bg-white"
              >Regular</label
            >
            <textarea
              type="email"
              name="emal"
              id="name"
              class="placeholder-smoke focus:ring-0 sm:text-sm block w-full py-1 text-white bg-transparent border-0"
              placeholder="email@example.com"
            >
            </textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<main class="flex-auto">
  <div class="max-w-7xl mx-auto">
    <div class="dark:border-gun pb-6 border-b">
      <h3 class="text-comet text-2xl font-normal leading-6">File Upload</h3>
    </div>
    <div class="flex-grow mt-6">
      <div class="flex items-center">
        <label
          class="shadow-static text-oyster border-oyster hover:text-club hover:border-club dark:bg- dark:bg-tuna flex flex-col items-center w-64 px-4 py-6 tracking-wide uppercase bg-white border-2 border-dashed rounded-lg cursor-pointer"
        >
          <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"
            />
          </svg>
          <span class="mt-2 text-base leading-normal">Select a file</span>
          <input type="file" class="hidden" />
        </label>
      </div>
    </div>
  </div>
</main>
<main class="flex-auto">
  <div class="max-w-7xl mx-auto">
    <div class="dark:border-gun pb-6 border-b">
      <h3 class="text-comet text-2xl font-normal leading-6">Tags</h3>
    </div>
    <div class="flex-grow mt-6">
      <div class="flex flex-wrap">
        <div>
          <div x-data="{tags: ['what', 'is', 'up'], newTag: '', inputName: 'foo' }">
            <template x-for="tag in tags">
              <input class="p-3" type="hidden" x-bind:name="inputName + '[]'" x-bind:value="tag" />
            </template>

            <div class="w-full max-w-xl mx-auto">
              <div class="tags-input rounded-xl dark:border-gun dark:bg-tuna inline-flex items-center p-1 bg-white border-2">
                <template x-for="tag in tags" :key="tag">
                  <span class="tags-input-tag focus:outline-none bg-oyster inline-flex px-6 py-3 mr-1 text-xs text-white align-middle rounded-lg select-none">
                    <span x-text="tag"></span>
                    <button type="button" class="tags-input-remove last:ml-1 first:mr-1 text-white" @click="tags = tags.filter(i => i !== tag)">&times;</button>
                  </span>
                </template>

                <input
                  class="ml-4 p-2 rounded-xl flex-1 py-1 max-w-[10rem] tags-input-text text-oyster"
                  placeholder="Add tag..."
                  @keydown.enter.prevent="if (newTag.trim() !== '') tags.push(newTag.trim()); newTag = ''"
                  x-model="newTag"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
